body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

table {
  width: 700px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

td {
  padding: 10px;
  text-align: center;
}

.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0;
}

.nav-bar ul{
  list-style-type: none;
  display: flex;
  background-color: orange;
}

.nav-bar ul li {
  text-decoration: none;
  width: 140px;
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.nav-bar ul li:hover{
  background: darkgray;
}

.active{
  background-color: aquamarine;
}